/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #007A5E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    width: 90%;  
    max-width: 400px;
    position: relative; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Logo */
.logo-container {
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.logo {
    width: 160px;
    height: auto;
}

/* Títulos de secciones */
.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #4A4A4A;
    margin: 20px 0;
}

/* Botones de tiendas */
.store-buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.store-logo {
    width: 150px;
    height: 50px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.store-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Divisor */
.divider {
    border-top: 1px solid #4A4A4A;
    margin: 20px 0;
}

/* Botón del panel de control */
.control-panel {
    background-color: #FF6F00;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.control-panel:hover {
    background-color: #FF8500;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.linktree-text {
    font-size: 18px;
    color: #e7e7e7;
    line-height: 1.5;
    text-align: center; /* Centra el texto horizontalmente */
    padding: 10px 0;    /* Añade algo de espacio superior e inferior */
    width: 100%;        /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Para que el padding no afecte el ancho total */

    position: absolute;
    bottom: 160px;  /* Lo posiciona 70px desde la parte inferior de la página */
    left: 50%;     /* Centrado horizontal */
    transform: translateX(-50%);  /* Ajusta para que esté perfectamente centrado */
}

.linktree-text a {
    display: inline-block; /* Asegura que la imagen esté en línea con el texto */
    vertical-align: middle; /* Centra la imagen verticalmente */
}

.linktree-image {
    width: 100px; /* Ajusta el tamaño de la imagen según lo desees */
    height: auto;
    margin: 0 5px; /* Añade espacio a los lados de la imagen */
    vertical-align: middle; /* Centra la imagen con respecto al texto */
}

.linktree-text a {
    color: #007A5E;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.linktree-text a:hover {
    color: #005A44;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        width: 78%;        
        max-width: none;  
        padding-top: 12px;
        padding-bottom: 32px;
        padding-left: 28px;
        padding-right: 28px;
        
    }

    .logo {
        width: 150px; 
    }
    
    .logo-container {
    top: 95px; /* Ajuste exclusivo para dispositivos móviles */
    }

    .section-title {
        font-size: 20px;
    }

    .store-logo {
        width: 145px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .control-panel {
        font-size: 16px;
        padding: 12px 15px;
    }
}
@media (max-width: 480px) {
    .control-panel {
        font-size: 16px;
        padding: 12px 15px;
    }
}

